*.apk
*.class
*.dex
*.ap_
R.java
BuildConfig.java
.releasebuild

# ignore gradle 'stuff' in Android Studio
.gradle/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.idea/misc.xml
/app/build/
/build/intermediates/
